/* You can add global styles to this file, and also import other style files */
body {
    height: 100%;
}

footer {
    flex-shrink: none;
    position: fixed;
    bottom: 0;
    text-align: center;
}